.fields{
    display: flex;
    flex-direction: column;
    align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}
.field label {
    font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}
.field input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}
.submit{
    text-align: right;
}

@media (min-width: 580px) {
  .fields {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }
}